/* Podstawowe resetowanie i ustawienia dla całej strony */
body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Centrowanie kontenera głównego i ustawienie szerokości */
.container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  text-align: center;
}

/* Stylizacja dla select (rozwijanej listy) oraz obrazków kotów */
.breed-select,
.cat-info img {
  width: 100%;
  max-width: 100%;
  margin-top: 20px;
}

/* Stylizacja i animacja dla loadera */
.loader {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 120px;
  height: 120px;
  border: 3px solid transparent;
  border-radius: 50%;
  border-top: 5px solid #3498db;
  animation: spin 1s ease-in-out infinite;
}

/* Definicja kluczowej klatki animacji dla obracania */
@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

/* Stylizacja tekstów i obrazów w sekcji informacji o kocie */
.cat-info img {
  margin-top: 20px;
  border-radius: 10px;
}

.cat-info h2,
.cat-info p {
  text-align: left;
}
